@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Changa+One:ital@0;1&display=swap');

.bg-transparent {
  background-color: transparent;
}

[type='number']::-webkit-outer-spin-button,
[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para remover no Firefox */
[type='number'] {
  -moz-appearance: textfield;
}

.font-special {
  font-family: 'Carter One', sans-serif;
}